a {
  text-decoration: none;
}

.article-index:hover {
  background: #3790E4;
}

.user-avatar {
  width: 29px;
  height: auto;
}

.main-logo {
  display: block;
  margin: auto;
  background-color: #fff;
  width: 25%;
  border-radius: 10px;
}