<%- include('../partials/header') %>
  <%- include('../partials/navbar') %>

    <div class="container text-white">
      <form class="mt-5" action="/articles/create" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" placeholder="Title" class="form-control" name="title" id="title">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" placeholder="Description" class="form-control" name="description" id="description">
        </div>
        <div class="mb-3">
          <label for="status" class="form-label">Status</label>
          <select id="status" name="status" class="form-control">
            <option value="published">Published</option>
            <option value="unpublished">Unpublished</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="body">Article Content</label>
          <textarea class="form-control" rows="10" id="body" name="body" placeholder="Text"></textarea>
          <button type="submit" class="btn btn-outline-info w-100 mt-2">Submit</button>
      </form>
    </div>

    <%- include('../partials/footer') %>