<%- include('../partials/header') %>

  <div class="container text-white">
    <form class="mt-5" action="/articles/create" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" placeholder="Title" class="form-control" id="title">
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select id="status" name="status" class="form-control">
          <option value="published">Published</option>
          <option value="unpublished">Unpublished</option>
        </select>
      </div>
      <div class="mb-3">
        <label>Article Content</label>
        <textarea placeholder="Text" name="body" id="body" class="form-control" rows="15"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-info w-100">Submit</button>
    </form>
  </div>

  <%- include('../partials/footer') %>