<%- include('../partials/header') %>

<div class="container mt-3 text-white">
  <a href="/"><img class="main-logo" src="/icon/node-blog.png" /></a>
  <h3>User Login</h3>

  <form action="/auth/signin" method="POST" class="w-50">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" name="email" id="email">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <p><a href="/users/register" class="link-light">Don't have an account?</a></p>
    <button type="submit" class="btn btn-block w-100 btn-primary">Submit</button>
  </form>

</div>

<%- include('../partials/footer') %>